
.footer {
    position: relative;
    width: 100%;
    padding-bottom: 38%; /* Giữ tỉ lệ chiều cao */
    background-image: url('../assets/Footer.jpg'); /* muss in „assets“ eingefügt werden, da der Webpack-Loader keine Dateien in „public“ verarbeiten kann.*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    box-sizing: border-box;
    height: auto;
  }
  
  /* Container nội dung trong footer */
  .footer-content {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* hoặc tùy chỉnh */
    padding: 1.5rem 0.5rem; /* padding cho nội dung */
  }
  
  /* Điều chỉnh responsive */
  @media (max-width: 768px) {
    .footer {
      min-height: 200px; /* chiều cao tối thiểu */
      /* không đổi padding-bottom để giữ tỉ lệ */
    }
  
    .footer-content {
      padding: 1rem 0.5rem; /* padding nội dung nhỏ hơn cho mobile */
    }
  }
  